<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <h1>Profile My</h1>
  <link rel="stylesheet" href="/profile.css" />
</head>
<body>
  <h1>Profile My</h1>
  <p>Current profile: <%= id %></p>
  <img src="/<%= id %>/profile.png" alt="Profile image" />
  <img src="/<%= id %>/banner.png" alt="Banner image" />
  <img src="/<%= id %>/image1.png" alt="Image 1" />
</body>
</html>
